<p>
    <strong>Password recovery</strong>
</p>
<p>
    Please reset your password by clicking <a
        href="<%= @url %>/PasswordReset?email=<%= @user.email %>&verification=<%= @user.verification %>">this link</a>.
</p>
